<% layout('layout/boilerplate') %>
<h1>Register</h1>
<form action="/register" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
       <Label class="form-label" for="username">Username:</Label>
       <input class="form-control" id="username" name="username" type="text" required>
       <div class="valid-feedback">
            Looks good.
       </div>
        
    </div>
    <div class="mb-3">
        <Label class="form-label" for="email">Email:</Label>
        <input class="form-control" id="email" name="email" type="email" required>
        <div class="valid-feedback">
             Looks good.
        </div>
     </div>
     <div class="mb-3">
        <Label class="form-label" for="password">Password:</Label>
        <input class="form-control" id="password" name="password" type="password" required>
        <div class="valid-feedback">
             Looks good.
        </div>
         
     </div>
     <button class="btn btn-success"> Register </button>
</form>





